.insert-film {
  border: 1px solid;
}

.form-insert {
  padding: 10px;
}

.form-group {
  margin: 10px 0;

  label {
    display: block;
    width: 100%;
  }

  input {
    width: 100%;
  }

  select {
    width: 100%;
  }
}

.star-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5px 0;

  button {
    width: 120px;
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


