.container {
  width: 800px;
  height: 650px;
  border: 5px black solid;
  display: flex;
  justify-content: flex-start;
}

.title {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 16px;
    margin: 5px 0;
}
