.film {
  border: 1px solid;
}

.film-header {
  min-height: 40px;
  background: lightgray;
  border: 1px solid;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  font-size: 16px;
  font-family: "Red Rose";

  button {
    margin: 5px;
    height: 35px;
    width: 40px;
  }
}

.film-field {
  width: 100%;
  min-height: 25px;
  border: 1px solid;
}

.film-body {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-size: 16px;
}

.buttons {
  width: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

.film-title {
  width: 200px;
}
