.film-list {
  height: 550px;
  width: 500px;
  margin: 0px 10px;
  overflow-y: auto;
  border: 1px solid;
}

.film-list-sort {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid;
  height: 40px;
  margin: 0 10px;

  button {
    margin: 5px;
    height: 35px;
    width: 40px;
  }
}
